services:
  caddy:
    image: ghcr.io/keksiqc/caddy:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443/tcp
      - 443:443/udp
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_data:/data
    networks:
      - caddy
    labels:
      - "caddy.acme_dns=cloudflare {{ env.CLOUDFLARE_API_TOKEN }}"

networks:
  caddy:
    external: true

volumes:
  caddy_data: {}
